@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.cdnfonts.com/css/andy-pro');

/*
Fonts' CDN Imports
*/

:root {
    --background-color: #0A000C;
    --button-hover-background-color: #1e0024;
    --border-radius: 40px;
    --card-contents-margin-left: 5rem;
}

* {
    font-family: 'Short Stack', Short-Stack;
}

html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    user-select: none;
}

body {
    background-color: var(--background-color);
    margin: 2rem 3rem 0rem 3rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-contents {
    display: flex;
    gap: 40px;
}

.navbar-contents button {
    background: none;
    border: none;
}

.navbar-contents button:hover,
.music-toggle-container button:hover {
    /*TODO: DO THIS*/
    animation: navbarIconHover 0.3s ease-in-out forwards;
}

@keyframes navbarIconHover {
    100% {
        cursor: pointer;
        transform: scale(1.1);
    }
}

#hours,
#minutes,
#colon {
    font-size: clamp(2rem, 4vw, 4rem);
}

#seconds {
    font-size: clamp(2rem, 2vw, 2rem);
}

.card-container {
    /**Positions the Card in the middle*/
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.card {
    /**the card itself*/
    border: solid white 2px;
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--background-color);
    width: clamp(1rem, 80vw, 1316px);
    height: clamp(1rem, 70vh, 654px);
    position: relative;
}

/* .card-contents-container {
} */

.contact-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1.5rem 2rem 0rem 0rem;
}

.contact-container button {
    padding: 5px 6px 4px 6px;
    border: 1px solid white;
    box-shadow: 2px 3px white;
    border-radius: 19px;
    background: none;
    cursor: pointer;
}

.contact-container button:active {
    box-shadow: none;
    transform: translate(2px, 3px);
}

.myname-container {
    display: flex;
    align-items: center;
    max-width: 40rem;
    /* margin: 0rem 35rem 0rem; */
    margin: 3rem 0rem 0rem var(--card-contents-margin-left);
    translate: 0px -45px;
    height: 100px;
}

.myname-container #hi {
    justify-content: center;
    font-family: Poppins, Poppins-Bold;
    font-weight: 700;
    /* font-size: 4.5rem; */
    font-size: clamp(3rem, 3.5vw, 4rem);
    font: clamp(1rem, );
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.myname-container #name2 {
    font-size: clamp(3.5rem, 4vw, 5rem);
    font-family: 'Andy Pro';
    color: white;
    height: 100px;
}

.myname-container #aka-name,
.myname-container a {
    /*container of aka DFSquid*/
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.myname-container #aka-name a,
/*DFSquid w/ underline*/
.myname-container a {
    text-decoration: none;
}

.skill-set-container {
    /* margin: 0rem 35.1rem 0rem; */
    max-width: 40rem;
    margin-left: var(--card-contents-margin-left);
    translate: 0.1rem -4rem;
}

.skill-set-container p {
    font-size: clamp(1rem, 1vw, 1.1rem);
}

.description-container {
    /* margin: 0rem 37.8rem 0rem; */
    max-width: 41rem;
    margin-left: var(--card-contents-margin-left);
    translate: 0rem -1.5rem;

}

.description-container p {
    font-size: clamp(1rem, 1.1vw, 1.2rem);
}

.my-skills-container {
    display: flex;
    gap: 20px;
    /* margin: 0rem 42.9rem 0rem; */
    margin-left: var(--card-contents-margin-left);
    /* translate: 0rem -4rem; */
}

.my-skills-container button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: clamp(.1rem, 1vw, 1rem);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 2px 3px white;
    padding: .1em 1em .1em .8em;
    cursor: pointer;
}

/*every button hovering animations*/
.my-skills-container button:hover,
.contact-container button:hover,
#close-contact-modal:hover,
#email-done-button:hover,
#close-development-modal:hover,
#close-illustrations-modal:hover,
#close-skills-modal:hover,
.emailSentPopup-contents button:hover {
    animation-name: button-hover;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background-color: var(--button-hover-background-color);
    cursor: pointer;
}

/*animation for buttons*/
@keyframes button-hover {
    100% {
        transform: translate(0rem, -0.2rem);
    }
}

/*every button pressing animations*/
.my-skills-container button:active,
.contact-container button:active,
#close-contact-modal:active,
#email-done-button:active,
#close-development-modal:active,
#close-illustrations-modal:active,
#close-skills-modal:active,
.emailSentPopup-contents button:active {
    animation-name: active-animation;
    animation-duration: 0.1s;
}

/*animation when pressing buttons*/
@keyframes active-animation {
    50% {
        box-shadow: none;
        transform: translate(2px, 3px);
    }
}

.profile-picture-container {
    position: fixed;
    margin: 0rem 5rem 0rem 50rem;
    display: span;
    align-items: center;
    justify-content: flex-end;
    translate: 0rem -26rem;
}

.profile-picture-container img {
    max-width: 100%;
    border: 5px solid white;
    border-radius: 50%;
    width: 425px;
    height: 425px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0vw 81vh;
}

.footer-container i {
    color: white;
    font-weight: 100;
    font-family: Poppins;
    font-size: 13px;
}

.credit {
    color: white;
    font-weight: 200;
    font-family: Poppins;
    font-size: clamp(0.4rem, 0.8vw, 1rem);
}

.music-toggle-button {
    border: none;
    background: none;
    padding: 0.5%;
}

.music-toggle-button:active {
    background: none;
}























/*Modal Design Section*/

.modal-container {
    display: flex;
    justify-content: center;
}

/* Put Message Me modal here */

#contact-modal-card {
    display: none;
    /*default value - to hide the modal*/
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 2px solid white;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.517);
    width: 900px;
    height: 777px;
}

.modal-card {
    display: none;
    /*default value - to hide the modal*/
    z-index: 10;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 2px solid white;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.517);
    width: 1090px;
    height: 725px;
    position: fixed;
}

.modal-card.show,
.emailSentPopup.show {
    animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {

    /*opening animation for modal*/
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-card.hide,
.emailSentPopup.hide {
    animation: scaleOut 0.3s ease forwards;
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

.modal-header-frame {
    /*Modal's Window Effect*/
    /*Modal Headers*/
    /* background-color: rgb(44, 0, 47); */
    border-bottom: 2px solid white;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;

}

.modal-heading-contents {
    color: rgb(255, 255, 255);
}

.modal-heading-contents h1 {
    font-size: 2rem;
    translate: 3rem 4px;
}

.modal-heading-contents button {
    /*the close button*/
    color: white;
    background: none;
    border-radius: 0.7rem;
    border: 1px solid white;
    box-shadow: 2px 3px;
    padding: 8px 20px 8px 20px;
    font-size: 1rem;
    font-family: Poppins;
    translate: -2rem -.1rem;
}

.modal-heading-contents button:active {
    animation-name: active-animation;
    /*this is an animation from above used by skillset-buttons*/
    animation-duration: 0.1s;
}

.modal-contents-container {
    /* ! do not edit (shared container among modals)*/

    /* 
        ! Modal Contents 'Margin' for all modal contents
    */

    margin: 1rem;
    color: white;
    /*Text color inside of all modals*/
}

.contact-fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: none;
    /*fieldset element has a border, remove it before you lose your sanity*/
}

.contact-fieldset>div:last-child {
    /*only targets the textarea div (it's the 3rd child of the fieldset*/
    margin-top: 1.5rem;
}

.contact-contents label {
    font-size: 1.4rem;
}

.contact-contents input {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

.contact-contents input:focus {
    outline: none;
    /*it's 'outline: none;' not 'border: none;'"*/
}

.contact-contents textarea {
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    width: 51rem;
    height: 16rem;
    resize: none;
}

.contact-contents textarea:focus {
    outline: none;
}

.done-email-button-container {
    display: flex;
    justify-content: flex-end;
}

#email-done-button {
    color: white;
    padding: 0.7rem;
    border: 1px solid white;
    box-shadow: 2px 3px white;
    border-radius: 19px;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    translate: -0.9em;
}

.emailSentPopup {
    /*the card itself*/

    display: none;
    flex-direction: column;
    gap: 0px;

    border: 2px solid white;
    border-radius: 36px;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 30vh;
    translate: 110% 110%;
    background: var(--background-color);
}

.emailSentPopup-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2em 0em 0em 0em;
}

.emailSentPopup-contents p,
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.emailSentPopup-contents button {
    color: white;
    background: none;
    border-radius: 0.7rem;
    border: 1px solid white;
    box-shadow: 2px 3px;
    padding: 8px 20px 8px 20px;
    font-size: 1rem;
    font-family: Short Stack;
}

#drawings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    overflow: auto;
    max-height: 37em;
    text-align: center;
}

#drawings-container img {
    border-radius: 15px;
}

::-webkit-scrollbar {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 44, 44);
}